@model gestionticket_v2.Models.Ticket



@{

    ViewData["Title"] = "Delete";

}



@section Styles {

    <style>

        body {
            background: linear-gradient(to right, #e0f7fa, #f0fcff);
        }

    </style>

}



    <h1></h1>



    <h3>Êtes-vous VRAIMENT sûr de vouloir supprimer ce ticket ?</h3>

    <div>

        <h4></h4>

        <hr />

        <dl class="row">

            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.Titre) <!-- Libellé du titre -->

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.Titre) <!-- Affichage du titre -->

            </dd>

            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.Description) <!-- Libellé de la description -->

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.Description) <!-- Affichage de la description -->

            </dd>



            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.Categorie) <!-- Libellé de la catégorie -->

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.Categorie.Nom) <!-- Affichage du nom de la catégorie -->

            </dd>



            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.Statut) <!-- Libellé du statut -->

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.Statut) <!-- Affichage du statut -->

            </dd>

            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.DateCreation) <!-- Libellé de la date de création -->

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.DateCreation) <!-- Affichage de la date de création -->

            </dd>

            <dt class="col-sm-2">

                @Html.DisplayNameFor(model => model.DateModification) <!-- Libellé de la date de modification -->

            </dt>

            <dd class="col-sm-10">

                @Html.DisplayFor(model => model.DateModification) <!-- Affichage de la date de modification -->

            </dd>



        </dl>



        <form asp-action="Delete">

            <input type="hidden" asp-for="Id" /> <!-- Champ masqué pour l'ID du ticket -->

            <input type="submit" value="Supprimer" class="btn btn-danger" /> | <!-- Bouton de suppression -->

            <a asp-action="Index">Retourner à la liste</a> <!-- Lien de retour à la liste -->

        </form>

    </div>
