@section Styles {
    <style>
        body {
            background: linear-gradient(to right, #e0f7fa, #f0fcff);
        }
    </style>
}
    <div class="container">
        <h2>Tickets qui vous ont été attribués</h2>
        <br>
    @using (Html.BeginForm("Index", "Tickets", FormMethod.Get))
    {
        <!-- Barre de recherche -->
        <input type="text" name="searchTerm" placeholder="Search..." value="@ViewBag.CurrentFilter" />
        <select name="searchBy">
            <option value="titre">Titre</option>
            <option value="description">Description</option>
            <option value="auteur">Auteur</option>
            <option value="assignee">Assignee</option>
            <option value="categorie">Categorie</option>
            <option value="priorite">Priorité</option>
            <option value="ticketId">Ticket ID</option>
        </select>
        <input type="submit" value="Rechercher" />
    }
    <br>

    <!-- Lien pour créer un nouveau ticket -->
    <a class="btn btn-primary" asp-controller="Tickets" asp-action="Create">Créer un nouveau ticket</a>

    <!-- Tableau des tickets -->
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Priorité</th>
                <th scope="col">Categorie</th>
                <th scope="col">Status</th>
                <th scope="col">Date de création</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Parcours des tickets dans la liste Model -->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Titre</td>
                    <td>@item.Description</td>
                    <td>@item.Comment</td>
                    <td>@item.Priorite.Nom</td>
                    <td>@item.Categorie.Nom</td>
                    <td>@item.Statut</td>
                    <td>@item.DateCreation</td>
                    <td>
                        <!-- Boutons d'action pour modifier et afficher les détails du ticket -->
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Détails</a>
                        <!--<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
